.App {
  text-align: center;
  background-color: rgb(39, 39, 39);
  color: rgb(161, 160, 160);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formstyle {
  background-color: gray;
  width: 80%;
  margin: auto;
  padding: 3rem;
}

.youtubeComponent {
  max-width: fit-content;
  /* border: 2px solid red; */
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 1rem;
    p {
      padding: 0;
      font-weight: 600;
      /* border: 2px solid red; */

    }
}

.video-container{
  width: 100%;
  max-width: 800px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.homeLayout{
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex: 1;
}

.content{
  flex: 1;
}